@charset "utf-8";
/*=================
Basic style
==================*/
html, body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    margin: 0;
}
img{
    vertical-align:bottom;
    max-width:100%;
    width: 100%;
}
h1,h2,p{
    margin: 0;
}
/*=================
first animation01
==================*/
.animation1{
    height: 100%;
    display: flex;
}
.animation1 div{
    background-color: #333;
    width: 25%;
    height: 100%;
    z-index: 999;
    opacity: 0;
}
.animation1 div:nth-child(1){
    animation: fadeIn 0.05s linear 1.1s 3 alternate forwards,fadeoutup 1s ease-out 1.6s forwards; 
}
.animation1 div:nth-child(2){
    animation: fadeIn 0.05s linear 1.2s 3 alternate forwards,fadeoutup 1s ease-out 1.8s forwards; 
}
.animation1 div:nth-child(3){
    animation: fadeIn 0.05s linear 1.3s 3 alternate forwards,fadeoutup 1s ease-out 2.0s forwards; 
}
.animation1 div:nth-child(4){
    animation: fadeIn 0.05s linear 1.4s 3 alternate forwards,fadeoutup 1s ease-out 2.2s forwards; 
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeoutup {
    0%{
        height: 100%;
    }
    100%{
        height: 0;
    }
}
/*=================
Roboto Font
==================*/
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    src: url('../font/Roboto-Regular.ttf') format('ttf');
    font-display:swap;
}
.font{
    display: inline-block;
    opacity: 0;
    transform-origin: bottom right;
}
.font:nth-child(1){
    animation: font 1.8s ease-in-out 1.3s forwards;
}
.font:nth-child(2){
    animation: font 1.8s ease-in-out 1.35s forwards;
}
.font:nth-child(3){
    animation: font 1.8s ease-in-out 1.4s forwards;
}
.font:nth-child(4){
    animation: font 1.8s ease-in-out 1.45s forwards;
}
.font:nth-child(5){
    animation: font 1.8s ease-in-out 1.5s forwards;
}
.font:nth-child(6){
    animation: font 1.8s ease-in-out 1.55s forwards;
}
.font:nth-child(7){
    animation: font 1.8s ease-in-out 1.6s forwards;
}
.font:nth-child(8){
    animation: font 1.8s ease-in-out 1.65s forwards;
}
.font:nth-child(9){
    animation: font 1.8s ease-in-out 1.7s forwards;
}
.font:nth-child(10){
    animation: font 1.8s ease-in-out 1.75s forwards;
}
.font:nth-child(11){
    animation: font 1.8s ease-in-out 1.8s forwards;
}
.font:nth-child(12){
    animation: font 1.8s ease-in-out 1.85s forwards;
}
.font:nth-child(13){
    animation: font 1.8s ease-in-out 1.9s forwards;
}
.font:nth-child(14){
    animation: font 1.8s ease-in-out 1.95s forwards;
}
.font:nth-child(15){
    animation: font 1.8s ease-in-out 2.0s forwards;
}
.font:nth-child(16){
    animation: font 1.8s ease-in-out 2.05s forwards;
}
.font:nth-child(17){
    animation: font 1.8s ease-in-out 2.1s forwards;
}
.font:nth-child(18){
    animation: font 1.8s ease-in-out 2.15s forwards;
}
.font:nth-child(19){
    animation: font 1.8s ease-in-out 2.2s forwards;
}
.font:nth-child(20){
    animation: font 1.8s ease-in-out 2.25s forwards;
}
.font:nth-child(21){
    animation: font 1.8s ease-in-out 2.3s forwards;
}
.font:nth-child(22){
    animation: font 1.8s ease-in-out 2.35s forwards;
}
.font:nth-child(23){
    animation: font 1.8s ease-in-out 2.4s forwards;
}
.font:nth-child(24){
    animation: font 1.8s ease-in-out 2.45s forwards;
}
.font:nth-child(25){
    animation: font 1.8s ease-in-out 2.5s forwards;
}
.font:nth-child(26){
    animation: font 1.8s ease-in-out 2.55s forwards;
}
.font:nth-child(27){
    animation: font 1.8s ease-in-out 2.6s forwards;
}
.font:nth-child(28){
    animation: font 1.8s ease-in-out 2.65s forwards;
}
.font:nth-child(29){
    animation: font 1.8s ease-in-out 2.7s forwards;
}
.font:nth-child(30){
    animation: font 1.8s ease-in-out 2.75s forwards;
}
.font:nth-child(31){
    animation: font 1.8s ease-in-out 2.8s forwards;
}
.font:nth-child(32){
    animation: font 1.8s ease-in-out 2.85s forwards;
}
.font:nth-child(33){
    animation: font 1.8s ease-in-out 2.9s forwards;
}
.font:nth-child(34){
    animation: font 1.8s ease-in-out 2.95s forwards;
}
.font:nth-child(35){
    animation: font 1.8s ease-in-out 3.0s forwards;
}
.font:nth-child(36){
    animation: font 1.8s ease-in-out 3.05s forwards;
}
.font:nth-child(37){
    animation: font 1.8s ease-in-out 3.1s forwards;
}
.font:nth-child(38){
    animation: font 1.8s ease-in-out 3.15s forwards;
}
.font:nth-child(39){
    animation: font 1.8s ease-in-out 3.2s forwards;
}
@keyframes font {
    0%{
        opacity: 1;
        transform: scale3d(0, 0, 0);
    }
    50%{
        transform: scale3d(1.1, 1.1,1.5);
    }
    100%{
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
/*=================
background
==================*/
.animation_body{
    width: 100%;
    height: 100%;
    animation: bg01 20s infinite;
}
.bg{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg span:nth-child(1){
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -5vw;
    border-top: 23vw solid transparent;
    border-right: 23vw solid transparent;
    border-bottom: 23vw solid #006c78;
    border-left: 23vw solid #117b88;
    animation: bg02 20s infinite;
}
.bg span:nth-child(2){
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 20vw solid transparent;
    border-right: 20vw solid #cacecf;
    animation: bg03 20s infinite;
}
@keyframes bg01 {
    0%{
        background-color: #a8bdc1;
    }
    25%{
        background-color: #beeef7;
    }
    50%{
        background-color: #ffeaa5;
    }
    75%{
        background-color: #e41749;
    }
    100%{
        background-color: #a8bdc1;
    }
}
@keyframes bg02 {
    0%{
        border-bottom: 23vw solid #006c78;
        border-left: 23vw solid #117b88;
    }
    25%{
        border-bottom: 23vw solid #6fc2d0;
        border-left: 23vw solid #373a6d;
    }
    50%{
        border-bottom: 23vw solid #226b80;
        border-left: 23vw solid #40a798;
    }
    75%{
        border-bottom: 23vw solid #f5587b;
        border-left: 23vw solid #ff8a5c;
    }
    100%{
        border-bottom: 23vw solid #006c78;
        border-left: 23vw solid #117b88;
    }
}
@keyframes bg03 {
    0%{
        border-right: 20vw solid #cacecf;
    }
    25%{
        border-right: 20vw solid #ff8246;
    }
    50%{
        border-right: 20vw solid #ffebd3;
    }
    75%{
        border-right: 20vw solid #fff591;
    }
    100%{
        border-right: 20vw solid #cacecf;
    }
}
/*=================
animation02 bg
==================*/
.animation02{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 60%;
}
.animation02 .wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.animation02 .wrapper div{
    display: block;
    background-color: #fff;
    opacity: 0;
}
.animation02 .wrapper span{
    background-color: #333;
    opacity: 0;
}
.animation02 .wrapper div:nth-child(1){
    width: 55%;
    height: 55%;
    animation: animation1_box 0.6s ease-in-out 0.5s forwards;
    transform-origin: top left;
}
.animation02 .wrapper div:nth-child(2){
    width: 45%;
    height: 55%;
    animation: animation1_box 0.6s ease-in-out 0.5s forwards;
    transform-origin: top right;
}
.animation02 .wrapper div:nth-child(3){
    width: 45%;
    height: 45%;
    animation: animation1_box 0.6s ease-in-out 0.5s forwards;
    transform-origin: bottom left;
}
.animation02 .wrapper div:nth-child(4){
    width: 55%;
    height: 45%;
    animation: animation1_box 0.6s ease-in-out 0.5s forwards;
    transform-origin: bottom right;
}
.animation02 .wrapper span:nth-child(5){
    position: absolute;
    top: 3%;
    left: 2%;
    width: 96%;
    height: 0.5%;
    animation: animation1_border02 0.8s ease-in-out 0.5s forwards;
    transform-origin: top left;
}
.animation02 .wrapper span:nth-child(6){
    position: absolute;
    top: 3%;
    left: 2%;
    width: 0.325%;
    height: 94%;
    animation: animation1_border01 0.8s ease-in-out 0.5s forwards;
    transform-origin: top right;
}
.animation02 .wrapper span:nth-child(7){
    position: absolute;
    top: 97%;
    left: 2%;
    width: 96%;
    height: 0.5%;
    animation: animation1_border02 0.8s ease-in-out 0.5s forwards;
    transform-origin: bottom right;
}
.animation02 .wrapper span:nth-child(8){
    position: absolute;
    top: 3%;
    left: 98%;
    width: 0.325%;
    height: 94.5%;
    animation: animation1_border01 0.8s ease-in-out 0.5s forwards;
    transform-origin: bottom left;
}
.animation02 .lavel{
    position: absolute;
    top: -6%;
    left: -2.5%;
    width: 7%;
    height: 28%;
    background-color: #333;
    opacity: 0;
    animation: animation1_lavel 0.6s ease-in-out 0.8s forwards;
    transform-origin: top;
}
@keyframes animation1_box {
    0%{
        opacity: 1;
        transform:scale3d(0, 0, 0);
    }
    100%{
        opacity: 1;
        transform:scale3d(1, 1, 1);
    }
}
@keyframes animation1_border01 {
    0%{
        opacity: 1;
        transform:scale3d(1, 0, 0);
    }
    100%{
        opacity: 1;
        transform:scale3d(1, 1, 1);
    }
}
@keyframes animation1_border02 {
    0%{
        opacity: 1;
        transform:scale3d(0, 1, 0);
    }
    100%{
        opacity: 1;
        transform:scale3d(1, 1, 1);
    }
}
@keyframes animation1_lavel {
    0%{
        opacity: 1;
        transform:scale3d(1, 0, 0);
    }
    100%{
        opacity: 1;
        transform:scale3d(1, 1, 1);
    }
}
/*=================
animation02 text
==================*/
.animation02 .text{
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.animation02 .text h1{
    margin-bottom: 1.5%;
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 2.0vw;
}
.animation02 .text .copy:nth-of-type(1){
    margin-bottom: 1%;
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 3.5vw;
    font-weight: bold;
    letter-spacing: 0.01em;
}
.animation02 .text .copy:nth-of-type(2){
    margin-bottom: 5%;
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 1.3vw;
    letter-spacing: 0.01em;
}
.animation02 h2{
    margin: 2% 0 0 0;
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 2.3vw;
}
/*=================
animation02 btn
==================*/
.animation02 .text .btn_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -1.3% 4.2% 0;
}
.animation02 .text .btn_wrapper .btn{
    position: relative;
    background: #333;
    font-size: 1.2vw;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.01em;
    opacity: 0;
}
.animation02 .text .btn_wrapper .btn a{
    display: block;
    padding: 0.7vw 5.0vw;
    color: #fff;
    text-decoration: none;
}
.animation02 .text .btn_wrapper .btn.works{
    display: block;
    padding: 0.7vw 5.0vw;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.animation02 .text .btn_wrapper .btn:nth-of-type(1){
    margin: 0 6.0% 0 0;
    animation: animation02_btn01 1s ease-out 2.5s forwards;
}
.animation02 .text .btn_wrapper .btn:nth-of-type(2){
    animation: animation02_btn02 1s ease-out 2.5s forwards;
}
@keyframes animation02_btn01 {
    0%{
        opacity: 0;
        transform: translate3d(-25%, 0, 0)
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}
@keyframes animation02_btn02 {
    0%{
        opacity: 0;
        transform: translate3d(25%, 0, 0)
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}
.animation02 .text .btn_wrapper .btn:nth-of-type(1):before{
    position: absolute;
    top: 50%;
    left: -10%;
    width: 1.5vw;
    height: 0.15vw;
    background-color: #333;
    content: '';
    z-index: 999;
    transition: 0.6s cubic-bezier(.215,.61,.355,1);
    transform-origin: left;
}
.animation02 .text .btn_wrapper .btn:nth-of-type(2):before{
    position: absolute;
    top: 50%;
    left: -9%;
    width: 1.5vw;
    height: 0.15vw;
    background-color: #333;
    content: '';
    z-index: 999;
    transition: 0.6s cubic-bezier(.215,.61,.355,1);
    transform-origin: left;
}
.animation02 .text .btn_wrapper .btn:nth-of-type(1):after{
    position: absolute;
    top: 50%;
    left: 0%;
    width: 13.0vw;
    height: 0.12vw;
    background-color: #fff;
    content: '';
    transform: scale(0.1,1);
    transition: 0.6s cubic-bezier(.215,.61,.355,1);
    transform-origin: left;
}
.animation02 .text .btn_wrapper .btn:nth-of-type(2):after{
    position: absolute;
    top: 50%;
    left: 0%;
    width: 14.0vw;
    height: 0.12vw;
    background-color: #fff;
    content: '';
    transform: scale(0.1,1);
    transition: 0.6s cubic-bezier(.215,.61,.355,1);
    transform-origin: left;
}
.animation02 .text .btn_wrapper .btn:hover{
    overflow: hidden;
}
.animation02 .text .btn_wrapper .btn:nth-of-type(1):hover:after{
    transform: scale(1.075,1);
}
.animation02 .text .btn_wrapper .btn:hover:after{
    transform: scale(1,1);
}
.animation02 .text .btn_wrapper .btn:nth-of-type(1):hover:before{
    transform: translateX(1.35vw);
}
.animation02 .text .btn_wrapper .btn:nth-of-type(2):hover:before{
    transform: translateX(1.35vw);
}
/*=================
animation02 sns
==================*/
.animation02 .text .sns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}
.animation02 .text .sns div{
    width: 3vw;
    height: 3vw;
    opacity: 0;
}
.animation02 .text .sns div:nth-of-type(2){
    margin: 0 3% 0 0;
    animation: animation02_sns 1s ease-out 2.8s forwards;
}
.animation02 .text .sns div:nth-of-type(3){
    animation: animation02_sns 1s ease-out 2.8s forwards;
}
@keyframes animation02_sns {
    0%{
        opacity: 0;
        transform: translate3d(35%, 0, 0)
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}
path {
    fill: #333;
    stroke: transparent;
}
svg:hover path {
-webkit-animation: stroke 2.5s ease-in-out forwards;
animation: stroke 2.5s ease-in-out forwards;
stroke: #333;
stroke-dasharray: 1800;
stroke-dashoffset: 0;
stroke-width: 1;
}
@keyframes stroke {
0% {
    fill: #333;
    stroke-dashoffset: 1800;
}
10% {
    fill: transparent;
}
80% {
    fill: transparent;
}
100% {
    fill: #fff;
    stroke-dashoffset: 0;
}
}
.blog_btn{
    position: relative;
    width: auto!important;
    height: auto!important;
    margin: 0 4.5% 0 0;
    background: #333;
    font-size: 1.2vw;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.01em;
    opacity: 0!important;
}
.blog_btn a{
    display: block;
    padding: 0.7vw 5.0vw;
    color: #fff;
    text-decoration: none;
}
.blog_btn{
    animation: blog_btn 1s ease-out 2.5s forwards;
}
@keyframes blog_btn {
    0%{
        opacity: 0;
        transform: translate3d(-25%, 0, 0)
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}
.blog_btn:before{
    position: absolute;
    top: 50%;
    left: -9%;
    width: 1.5vw;
    height: 0.15vw;
    background-color: #333;
    content: '';
    z-index: 999;
    transition: 0.6s cubic-bezier(.215,.61,.355,1);
    transform-origin: left;
}
.blog_btn:after{
    position: absolute;
    top: 50%;
    left: 0%;
    width: 13.0vw;
    height: 0.12vw;
    background-color: #fff;
    content: '';
    transform: scale(0.1,1);
    transition: 0.6s cubic-bezier(.215,.61,.355,1);
    transform-origin: left;
}
.blog_btn:hover{
    overflow: hidden;
}
.blog_btn:hover:after{
    transform: scale(1,1);
}
.blog_btn:hover:before{
    transform: translateX(1.35vw);
}
/*===========================================================
Myworks clickevent hidden-animation
===========================================================*/
/*=================
background
==================*/
.animation_hidden{
    position: relative;
    width: 100%;
    height: 100%;
}
.animation_hidden.active:before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    z-index: 1;
    content: '';
    animation: animation_bg_hidden 1.0s ease-out 2s forwards;
    transform-origin: center;
}
@keyframes animation_bg_hidden{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*=================
animation02 bg
==================*/
.active .animation02 .wrapper div{
    opacity: 1;
}
.active .animation02 .wrapper div:nth-child(1){
    animation: animation1box_hidden 1.8s ease-in-out 0.5s forwards;
}
.active .animation02 .wrapper div:nth-child(2){
    animation: animation1box_hidden 1.8s ease-in-out 0.5s forwards;
}
.active .animation02 .wrapper div:nth-child(3){
    animation: animation1box_hidden 1.8s ease-in-out 0.5s forwards;
}
.active .animation02 .wrapper div:nth-child(4){
    animation: animation1box_hidden 1.8s ease-in-out 0.5s forwards;
}
@keyframes animation1box_hidden {
    0%{
        opacity: 1;
        transform:scale3d(1, 1, 1);
    }
    100%{
        opacity: 0;
        transform:scale3d(0, 0, 0);
    }
}
.active .animation02 .wrapper span{
    opacity: 1;
}
.active .animation02 .wrapper span:nth-child(5){
    animation: animation1_border02_hidden 1.3s ease-in-out 0.5s forwards;
}
.active .animation02 .wrapper span:nth-child(6){
    animation: animation1_border01_hidden 1.3s ease-in-out 0.5s forwards;
}
.active .animation02 .wrapper span:nth-child(7){
    animation: animation1_border02_hidden 1.3s ease-in-out 0.5s forwards;
}
.active .animation02 .wrapper span:nth-child(8){
    animation: animation1_border01_hidden 1.3s ease-in-out 0.5s forwards;
}
@keyframes animation1_border01_hidden {
    0%{
        opacity: 1;
        transform:scale3d(1, 1, 1);
    }
    100%{
        opacity: 0;
        transform:scale3d(1, 0, 0);
    }
}
@keyframes animation1_border02_hidden {
    0%{
        opacity: 1;
        transform:scale3d(1, 1, 1);
    }
    100%{
        opacity: 0;
        transform:scale3d(0, 1, 0);
    }
}
.active .animation02 .lavel{
    opacity: 1;
    animation: animation1_lavel_hidden 0.6s ease-in-out 0.8s forwards;
}
@keyframes animation1_lavel_hidden {
    0%{
        opacity: 1;
        transform:scale3d(1, 1, 1);
    }
    100%{
        opacity: 0;
        transform:scale3d(1, 0, 0);
    }
}
/*=================
Roboto Font
==================*/
.active .font{
    opacity: 1;
}
.active .font:nth-child(1){
    animation: font_hidden 1.8s ease-in-out forwards;
}
.active .font:nth-child(2){
    animation: font_hidden 1.8s ease-in-out .05s forwards;
}
.active .font:nth-child(3){
    animation: font_hidden 1.8s ease-in-out .10s forwards;
}
.active .font:nth-child(4){
    animation: font_hidden 1.8s ease-in-out .15s forwards;
}
.active .font:nth-child(5){
    animation: font_hidden 1.8s ease-in-out .20s forwards;
}
.active .font:nth-child(6){
    animation: font_hidden 1.8s ease-in-out .25s forwards;
}
.active .font:nth-child(7){
    animation: font_hidden 1.8s ease-in-out .30s forwards;
}
.active .font:nth-child(8){
    animation: font_hidden 1.8s ease-in-out .35s forwards;
}
.active .font:nth-child(9){
    animation: font_hidden 1.8s ease-in-out .40s forwards;
}
.active .font:nth-child(10){
    animation: font_hidden 1.8s ease-in-out .45s forwards;
}
.active .font:nth-child(11){
    animation: font_hidden 1.8s ease-in-out .50s forwards;
}
.active .font:nth-child(12){
    animation: font_hidden 1.8s ease-in-out .55s forwards;
}
.active .font:nth-child(13){
    animation: font_hidden 1.8s ease-in-out .60s forwards;
}
.active .font:nth-child(14){
    animation: font_hidden 1.8s ease-in-out .65s forwards;
}
.active .font:nth-child(15){
    animation: font_hidden 1.8s ease-in-out .70s forwards;
}
.active .font:nth-child(16){
    animation: font_hidden 1.8s ease-in-out .75s forwards;
}
.active .font:nth-child(17){
    animation: font_hidden 1.8s ease-in-out .80s forwards;
}
.active .font:nth-child(18){
    animation: font_hidden 1.8s ease-in-out .85s forwards;
}
.active .font:nth-child(19){
    animation: font_hidden 1.8s ease-in-out .90s forwards;
}
.active .font:nth-child(20){
    animation: font_hidden 1.8s ease-in-out .95s forwards;
}
.active .font:nth-child(21){
    animation: font_hidden 1.8s ease-in-out 1.0s forwards;
}
.active .font:nth-child(22){
    animation: font_hidden 1.8s ease-in-out 1.05s forwards;
}
.active .font:nth-child(23){
    animation: font_hidden 1.8s ease-in-out 1.10s forwards;
}
.active .font:nth-child(24){
    animation: font_hidden 1.8s ease-in-out 1.15s forwards;
}
.active .font:nth-child(25){
    animation: font_hidden 1.8s ease-in-out 1.20s forwards;
}
.active .font:nth-child(26){
    animation: font_hidden 1.8s ease-in-out 1.25s forwards;
}
.active .font:nth-child(27){
    animation: font_hidden 1.8s ease-in-out 1.30s forwards;
}
.active .font:nth-child(28){
    animation: font_hidden 1.8s ease-in-out 1.35s forwards;
}
.active .font:nth-child(29){
    animation: font_hidden 1.8s ease-in-out 1.40s forwards;
}
.active .font:nth-child(30){
    animation: font_hidden 1.8s ease-in-out 1.45s forwards;
}
.active .font:nth-child(31){
    animation: font_hidden 1.8s ease-in-out 1.50s forwards;
}
.active .font:nth-child(32){
    animation: font_hidden 1.8s ease-in-out 1.55s forwards;
}
.active .font:nth-child(33){
    animation: font_hidden 1.8s ease-in-out 1.60s forwards;
}
.active .font:nth-child(34){
    animation: font_hidden 1.8s ease-in-out 1.65s forwards;
}
.active .font:nth-child(35){
    animation: font_hidden 1.8s ease-in-out 1.70s forwards;
}
.active .font:nth-child(36){
    animation: font_hidden 1.8s ease-in-out 1.75s forwards;
}
.active .font:nth-child(37){
    animation: font_hidden 1.8s ease-in-out 1.80s forwards;
}
.active .font:nth-child(38){
    animation: font_hidden 1.8s ease-in-out 1.85s forwards;
}
.active .font:nth-child(39){
    animation: font_hidden 1.8s ease-in-out 1.90s forwards;
}
@keyframes font_hidden {
    0%{
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
    100%{
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
}
/*=================
animation02 btn
==================*/
.active .animation02 .text .btn_wrapper .btn:nth-of-type(1){
    animation: btn01_hidden 1.5s ease-out forwards;
}
.active .animation02 .text .btn_wrapper .btn:nth-of-type(2){
    animation: btn02_hidden 1.5s ease-out forwards;
}
.active .blog_btn{
    animation: btn01_hidden 1.5s ease-out forwards!important;
}
@keyframes btn01_hidden {
    0%{
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
    100%{
        opacity: 0;
        transform: translate3d(-25%, 0, 0)
    }
}
@keyframes btn02_hidden {
    0%{
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
    100%{
        opacity: 0;
        transform: translate3d(25%, 0, 0)
    }
}
/*=================
animation02 sns
==================*/
.active .animation02 .text .sns div{
    animation: sns01_hidden 1.5s ease-out forwards;
}
@keyframes sns01_hidden {
    0%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    100%{
        opacity: 0;
        transform: translate3d(55%, 0, 0);
    }
}
/*=================
animation03
==================*/
.active .name{
    position: absolute;
    top: 42.5%;
    left: 0%;
    width: 100%;
    font-size: 5.0vw;
    font-weight: bold;
    text-align: center;
    font-family: Roboto;
    opacity: 0;
    z-index: 2;
    animation: animation03_name 2s ease-out 3.0s forwards,animation03_name_left 0.8s ease-in-out 5s forwards;
}
@keyframes animation03_name{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animation03_name_left {
    0%{
        transform: translate3d(0, 0, 0)
    }
    100%{
        transform: translate3d(-20%, 0, 0)
    }
}
.active .subname{
    position: absolute;
    top: 42.5%;
    left: 49%;
    font-size: 5.0vw;
    font-weight: bold;
    font-family: Roboto;
    opacity: 0;
    z-index: 2;
    animation: animation03_subname_left 0.8s ease-in-out 5.0s forwards;
}
@keyframes animation03_subname_left {
    0%{
        opacity: 0;
        transform: translate3d(20%, 0, 0)
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}
.active .name::before{
    position: absolute;
    top: 50%;
    left: 0;
    width: 125%;
    height: 6%;
    background-color: #333;
    transform-origin: left;
    animation: animation03_line 0.5s ease-in-out 6.0s forwards;
    opacity: 0;
    z-index: 2;
    content: '';
}
@keyframes animation03_line{
    0%{
        opacity: 1;
        transform: scale3d(0, 1, 1)
    }
    100%{
        opacity: 1;
        transform: scale3d(1, 1, 1)
    }
}
.active .line_top{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #333;
    transform-origin: top;
    animation: animation03_line_top 0.5s ease-in-out 7.0s forwards;
    opacity: 0;
    z-index: 2;
}
.active .line_bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #333;
    transform-origin: bottom;
    animation: animation03_line_bottom 0.5s ease-in-out 7.0s forwards;
    opacity: 0;
    z-index: 2;
}
@keyframes animation03_line_top{
    0%{
        opacity: 1;
        transform: scale3d(1, 0, 1)
    }
    100%{
        opacity: 1;
        transform: scale3d(1, 1, 1)
    }
}
@keyframes animation03_line_bottom{
    0%{
        opacity: 1;
        transform: scale3d(1, 0, 1)
    }
    100%{
        opacity: 1;
        transform: scale3d(1, 1, 1)
    }
}
/*===========================================================
@media screen and (max-width:640px)
===========================================================*/
@media screen and (max-width:750px){
    html{
        font-size: 1.333333vw;
    }
}