/*=================
Basic style
==================*/
@media screen and (max-width:640px){
    html{
        font-size: 3.125vw;
    }
}
/*=================
animation01
==================*/
@media screen and (max-width:640px){
/*=== bg ===*/
.animation01{
    width: 25rem;
    height: 38rem;
}
.animation01 .wrapper span:nth-child(5){
    top: 2%;
    left: 4%;
    width: 92.5%;
    height: 0.15rem;
}
.animation01 .wrapper span:nth-child(6){
    top: 2%;
    left: 4%;
    width: 0.15rem;
    height: 96%;
}
.animation01 .wrapper span:nth-child(7){
    top: 98%;
    left: 4%;
    width: 92.5%;
    height: 0.15rem;
}
.animation01 .wrapper span:nth-child(8){
    position: absolute;
    top: 2%;
    left: 96%;
    width: 0.15rem;
    height: 96%;
}
.animation01 .text h1 {
    margin-bottom: 1.6rem;
    font-size: 2.0rem;
}
.animation01 .text .copy:nth-of-type(1) {
    margin-bottom: 1.4rem;    
    font-size: 1.6rem;
}
.animation01 .text .copy:nth-of-type(2) {
    margin-bottom: 2.4rem;    
    font-size: 0.9rem;
}
.animation01 .text .btn_wrapper {
    display: block;
    margin: 0 auto 1.2rem
}
.animation01 .text .btn_wrapper .btn.works {
    padding: 0.5rem 2rem;
}
.animation01 .text .btn_wrapper .btn {
    padding: 0.25rem 2rem;
    font-size: 1.0rem;
    width: 8rem;
}
.animation01 .text .btn_wrapper .btn:nth-of-type(1) {
    margin: 0 auto 1.2rem; 
}
.animation01 .text .btn_wrapper .btn:nth-of-type(2) {
    margin: 0 auto; 
}
.animation01 .text .btn_wrapper .btn:nth-of-type(1):before {
    left: -8%;
    width: 1rem;
    height: 0.1rem;
}
.animation01 .text .btn_wrapper .btn:nth-of-type(1):after {
    left: 0;
    width: 10rem;
    height: 0.1rem;
}
.animation01 .text .btn_wrapper .btn:nth-of-type(2):before {
    left: -8%;
    width: 1rem;
    height: 0.1rem;
}
.animation01 .text .btn_wrapper .btn:nth-of-type(2):after {
    left: 0;
    width: 10rem;
    height: 0.1rem;
}
@keyframes animation01_btn01 {
    0%{
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes animation01_btn02 {
    0%{
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
.animation01 .lavel {
    top: -3%;
    left: -3.5%;
    width: 3rem;
    height: 6rem;
}
.animation01 .text .sns {
    display: block;
    margin: 0;
}
.blog_btn{
    margin: 0 auto;
    padding: 0.25rem 2rem;
    font-size: 1.0rem;
    width: 8rem!important;
}
.blog_btn::before {
    left: -8%;
    width: 1rem;
    height: 0.1rem;
}
.blog_btn::after {
    left: 0;
    width: 10rem;
    height: 0.1rem;
}
@keyframes blog_btn {
    0%{
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
.animation01 .text .sns div {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0;
}
}
